.isdestymas {
  width: 100%;
  background: #000000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 24px;
  position: sticky;
  top: 0;
  left: 90px;
  right: 90px;
  font-family: "Outfit", sans-serif;
  position: sticky;
  z-index: 9999;
}
ol {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 45px;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}

a:hover {
  color: rgb(220, 19, 246);
}

li {
  display: flex;
  gap: 20px;
  list-style: none;
}

button {
  background: #ffffff;
  border: none;
  padding: 12px 16px;
  color:  rgb(42, 3, 47);
  cursor: pointer;
  border-radius: 6px;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 15px;
}
button:hover {
  background: rgb(220, 19, 246);
}

.buttonGroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
